
.color-sc-txt-rf {
  color: hsl(0deg 0% 65%);
}

.fs-10-rf {
  font-size: 10px;
}
.fs-11-rf {
  font-size: 11px;
}
.fs-12-rf {
  font-size: 12px;
}
.fs-13-rf {
  font-size: 13px;
}

.h-300px {
  height: 300px;
}

.h-150px {
  height: 150px;
}
.w-50px {
  width: 50px;
}

.opacity-rf {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-rf {
  background-color: white;
  padding: 5px 10px;
  font-size: 11px; 
  border: 1px solid hsl(184deg 22% 59%);
  &:hover {
    background-color: hsl(184deg 22% 59%);
    color:white;
} 
}

.card-rf {
  border-radius: 20px;
  padding: 10px 40px;
}

.back-color-img-rf {
  background-color: hsl(166deg 35% 93%);
}

.arrow-up {
  width: 0px; 
  height: 0px; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid hsl(17deg 81% 82%);

}